header.header
      .header__logo
            include ./logo
      .header__menu
            nav.nav.header__nav
                  include ./nav
      .header__social
            include ./social
      .header__hamburger
            a.hamburger__menu(href="#")
                  +icon("hamburger", "hamburger__icon")