- var menu = [['Главная','hero'], ['Обо мне','about'], ['Навыки','skills'], ['Работы','works'], ['Отзывы','reviews'], ['Связаться','contacts']]
- var i = 0
ul.nav__list
  each item in menu
    - i = i + 1
    li.nav__item
      a(href='#' + item[1]).nav__link #{item[0]}