.social
  a.social__item(href="#" target="_blank")
    +icon('insta', 'social__item-link')
  a.social__item(href="#" target="_blank")
    +icon('vk', 'social__item-link')
  a.social__item(href="#" target="_blank")
    +icon('github', 'social__item-link')