section.hero(id="hero")
  .container.hero__container
    include ../header
    .owner
      .owner__desc 
        p.owner__desc-item Личный сайт веб разработчика
      .owner__name
        h1.owner__name-item Антон Григорьев
    include ../scroll

  