include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title АГ | Portfolio | Главная
	body
		.wrapper
			.welcome-section

				include ./pug/sections/static-bg

				include ./pug/sections/parallax

				include ./pug/sections/hero
				.between-section
					.between-item
						+image("backgrounds/bg-dark.png", "between-image")
				include ./pug/sections/about
			
			include ./pug/sections/skills
			include ./pug/sections/projects

			.final-section
				.final-section__wrapper
					+image("backgrounds/bg-road.png", "final-section__image")
				include ./pug/sections/reviews
				include ./pug/sections/contact
				
			include ./pug/sections/footer

			include ./templates/entry.pug